extends ../layout

block content

    a(href="/bicicletas/create") Nueva Bicicleta
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') color
                th(scope='col') modelo
                th(scope='col') coordenadas
                th(scope='col') Acciones
        tbody
            each bici in bicis
                tr 
                    td(scope='row')=bici.id
                    td=bici.color
                    td=bici.modelo
                    td=bici.coordenadas
                    td
                        form.inline(method="get" action="/bicicletas/"+bici.id+"/update")
                            input(type="hidden" name="id" value=bici.id)
                            button.link-button(type="submit" class="btn") Editar
                        form.inline(method="post" action="/bicicletas/"+bici.id+"/delete")
                            input(type="hidden" name="id" value=bici.id)
                            button.link-button(type="submit" class="btn") Eliminar